body {
	color:#113F59;
	background-color:#F3EDD3; 
	font-family: 'Nanum Gothic', sans-serif;
}



.carousel-indicators {
	color: red;
}

#parfums {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	padding-bottom: 40px;
}
h3{
	font-size: 50px
}
.saveurs {
	border-radius: 50%;
	width: 160px;
}

.navbar-brand {
	font-family: 'Abril Fatface', cursive;
	font-size: 35px;
	padding-left: 300px;
	padding-right: 20px;
}

#navbarSupportedContent {
font-family: 'Nanum Gothic', sans-serif;
font-size: 18px;
}

.recherche {
	padding-right: 300px;
}

.boutongo {
	background-color: white;
	color: #D54F58;
	border-style: solid;
	border-width: 1px;
	border-color: #D54F58;
}

.boutongo:hover {
	background-color: #D54F58;
	color: white;
}

#presentation {
	margin-left: 200px;
	text-align: center;
}

.icone {
	size: 200px;
	padding-right: 300px;
	padding-top: 20px;
}

.saveurs:hover {
	opacity:0.7
}

h1 {
	font-family: 'Abril Fatface';
	font-size: 65px;
	}

a {
	color:#19BEC0; 
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #D54F58;
}

#container {
	margin-left: 70px;
	margin-right: 70px;
	padding: 50px;
	}

#teaser {
padding-top: 20px;
padding-bottom: 40px;
}

#parfum {
	padding: 40px;
}

.col-3 {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 40px;
	text-align: center;
	padding-top: 40px;
}

.rejoindre {
	text-align: center;
  margin-top: 40px;
}

#footer {
	background-color: #113F59;
	color: #F3EDD3;
	padding: 20px;
	margin-top: 40px;
}

.social {
	text-align: center;
}
.social li{
	display: inline-block;
	margin: 20px;
}

.social a {
	font-size: 38px;
}

.textefin {
	font-size: 18px;
	padding-top: 25px;
}